body {
    background-color: cornflowerblue;
    margin: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    margin: 10px;
}

p {
    margin: 10px;
}

#map {
    width: 1000px;
    height: 600px;
    margin: 3px;
    margin-left: 10px;
}

#searchBox {
    margin: 3px;
    width: auto;
    padding: 3px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.4s ease-in-out;
}

#searchBox:focus {
    width: 50%;
}

#distance {
    margin: 3px;
    width: auto;
    padding: 3px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
}

#searchBoxContainer {
    margin-left: 10px;
}

#textBoxContainer {
    margin-left: 10px;
}

#submit {
    margin: 10px;
    margin-bottom: 0px;
}